# Google Sheets Configuration (Private - Server Side)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_SHEET_ID=

# Public Variables (Accessible to Browser)
VITE_APP_NAME=MPCA App
